#homePageMainBody {
	background-color: #c7c7c7;
	width: 100%;
	border: solid #c7c7c7 .5px;
}

#headerNavBar {
	align: center;
	background-color: #00be01;
	width: 100%;
	border: solid #999 .5px;
}

#homePageHeaderLogo {
	width: 100%;
}

.navButtons {
	text-align: center;
	padding: 5px;
}

.linkButtons {
	font-size: 22px;
	color: black;
	padding: 10px;
}

.homePageParkTile {
	box-shadow: 5px 5px 20px #888;
	border: solid #999 .5px;
	width: 45%;
	vertical-align: top;
	margin-right:-8px;
	margin-left: 3%;
	margin-bottom: 20px;
	display: inline-block;
	border: solid #999 .5px;
	background-color: white;
}

.homePageParkTileImgContainer {
	vertical-align: top;
}

.homePageParkTileImg {
	width: 100%;
	float: top;
}

.homePageParkTileInfo {
	
}

.homePageParkTileName {
	margin-left: 5px;
	font-family: futura;
	font-size: 25px;
	text-align: center;
}

.homePageParkTileLocation {
	margin: 5px;
	font-style: bold;
	font-size: 20px;
}

.homePageParkTileSummary {
	margin: 5px;
}

.navBarParkSelectDropDown {
	margin: 22px;
	padding: 5px;
}

.detailPageParkTile {
	
}

.detailPageParkTileImg {
	/* 	box-shadow: 5px 5px 20px #888;
	border: solid #999 .5px;
	width: 100%;

	border: solid #999 .5px; */
	
}

.detailPageImage {
	box-shadow: 5px 5px 20px #888;
	border: solid #999 .5px;
	margin: 15px;
	width: 50%;
}

.detailPageParkTileName {
	margin-left: 5px;
	font-family: futura;
	font-size: 25px;
}

.detailPageParkTileLocation {
	margin: 5px;
	font-style: bold;
	font-size: 20px;
}

.detailPageParkTileSummary {
	margin: 5px;
	width: 50%;
}

.detailPageParkTileQuote {
	margin: 5px;
	font-style: italic;
	font-size: 20px;
}

.detailPageParkTileQuoteSource {
	margin: 5px;
	font-style: italic;
	font-size: 18px;
}

.detailPageInfo {
	margin: 5px;
}

.detailPageWeatherContainer {
	box-shadow: 5px 5px 20px #888;
	border: solid #999 .5px;
	width: 93%;
	margin: 25px;
	border: solid #999 .5px;
	height: 500px;
	padding: 25px;
}

.tempScaleSelector {
	margin: 5px;
}

.weatherContainer {
	width: 18%;
	display: inline-block;
	vertical-align: top;
	border: solid #999 .5px;
	height: 400px;
	padding: 5px;
	background-color: #00bfff;
}

.weatherDay {
	text-align: center;
}

.weatherImage {
	width: 80%;
	margin: auto;
	display: block;
}

.weatherHighTemp {
	margin: 5px;
}

.weatherLowTemp {
	margin: 5px;
}

.weatherForecast {
	margin: 5px;
}

.forecastFeedbackAdvice {
	margin: 5px;
}

.surveyInputContainer {
	background-color: #c7c7c7;
	width: 100%;
	border: solid #999 .5px;
}

.surveyInputParkcode {
	margin: 5px;
	padding-left: 10px;
}

.surveyInputEmailaddress {
	margin: 5px;
	padding-left: 10px;
}

.surveyInputState {
	margin: 5px;
	padding-left: 10px;
}

.surveyInputActivityLevel {
	margin: 5px;
	padding-left: 10px;
}

.surveyResultContainer {
	background-color: white; 
	width : 90%;
	padding: 10px;
	align: center;
	
}

.surveyFormSubmitButton {
	margin: 5px;
	padding-left: 10px;
}

.talliedSurveyPosts {
	
}

.talliedSurveyResultParkcode {
	border: solid black 2px;
	margin: 5px;
	padding: 5px;
	font-size: 25px;
	text-align: center;
	width : 90%;
}

.surveyPosts {
	border: solid black 2px;
	margin: 5px;
	padding: 5px;
	width : 90%;
}



.surveyResultEmailaddress {
	
}

.surveyResultState {
	
}

.surveyResultActivityLevel {
	
}